<nav class="nav">
  <a href="/" class="nav__wordmark">HoldOff</a>
  <div class="nav__links">
    <a href="/filter" class="nav__link">Filter</a>
    <a href="/#pricing" class="nav__link">Pricing</a>
    <a href="/download" class="nav__link">Download</a>
  </div>
  <div class="nav__auth">
    <% if (user) { %>
      <span class="nav__user-email"><%= user.email %></span>
      <button data-logout class="nav__logout">Log out</button>
    <% } else { %>
      <a href="/filter" class="nav__link">Log in</a>
      <a href="/filter?signup=1" class="nav__cta">Sign up free</a>
    <% } %>
  </div>
</nav>
<script>(function(){
  var btn = document.querySelector('[data-logout]');
  if (btn) btn.addEventListener('click', function() {
    fetch('/api/auth/logout', { method: 'POST' }).then(function() { location.reload(); });
  });
})();</script>
