<section class="philosophy">
  <div class="philosophy__inner">
    <div class="philosophy__quote-mark">"</div>
    <blockquote class="philosophy__quote">
      The damage isn't in the feeling. It's in the action.<br>
      HoldOff doesn't cure your anxiety. It stops it from driving.
    </blockquote>
    <p class="philosophy__caption">Every message you almost sent is data. HoldOff makes it useful.</p>
  </div>
</section>