<section class="the-problem">
  <div class="the-problem__inner">
    <div class="the-problem__rule"></div>
    <h2 class="the-problem__heading">The problem isn't your anxiety.<br>It's the draft sitting in your hand.</h2>
    <div class="the-problem__body">
      <p>You know this feeling. It's 11 PM. You've typed the message four times. Each version is more desperate than the last. You've already deleted it twice.</p>
      <p>You hit send anyway.</p>
      <p>And then comes the spiral: <em>Why haven't they replied. Did I say too much. Should I double-text. That was too much. That was definitely too much.</em></p>
      <p>You've typed 47 messages this week. You sent three. The damage is always in the drafts you sent.</p>
    </div>
  </div>
</section>